body{
margin:0;
text-align: center;
font-family: 'Poppins', sans-serif;
}

.profile-text{
  line-height: 2;
}

.navbar{
margin :0 auto 0 auto;
width:100%;
height:60px;
}

.navbar-items {
  width:100%;
  position: fixed;
  opacity: 80%;
  height:60px;
  background-color: white;
  box-shadow: 1px 1px 3px 1px black;

}


.Upper{
  background-color: #FFE6E6;
  position: relative;
  padding-top:100px;
}




.middle-container{

}

.skill-row{
  width: 60%;
  position: relative;
  margin:50px auto 50px auto;
  text-align:left;
  line-height: 2;
}


.design-text{
  text-align: left;
}

.name {
  margin-top:0;
  margin-left:0;
  margin-bottom:10px;
  font-size:3rem;
  font-family: 'Clicker Script', cursive;
  color: #A90404;
  line-height: 1;
}

.designation {
  margin-top:0;
  font-size: 1rem;
  font-style: oblique;
  color: #A90404;
  font-weight: normal;
}

.right-design1{
  position: absolute;
  right:250px;
  ;
}

.right-design2{
  position: absolute;
  right:400px;
  bottom:300px;
}

.left-design1 {
  position:absolute;
  left:400px;
  bottom:300px;
}

.left-design2 {
  position:absolute;
  left:250px;
  top:100px;
}


h2{
  color: #A90404;

}

h3 {
  color: #A90404;
}

a{
  color: #A90404;
}

a:hover {
  color: black;
}


.design-image{
  float: left;
  margin-right: 10px;
}

.webd-image{
  float: right;
  margin-left: 10px;
}

.profile{
  width: 60%;
  margin:100px auto 100px auto;
}

.skills{
  margin:100px 0 100px 0;
}


hr{
  width: 3%;
  border-style: dotted;
  border-width: 5px;
  border-top: 0;
  color: #b5b5b5;
}

.contact-me {
  font-weight: normal;
  font-style: italic;
  margin:50px auto 50px auto;
  padding:25px 0 50px 0;
  width: 60%;
  line-height: 2;
}

.contact-me-header {
  font-weight: Bold;
  font-style: normal;
}

.contact-text{
  font-style: normal;
  font-weight: normal;
  position: relative;
  bottom: 10px;
}



.bottom-container{
  background-color: #FFE6E6;
  margin:50px 0 0 0;
  padding:50px 0 20px 0;
}

.btn{
  padding:10px;
  border-radius: 5px;
  border-style: none;
  font-style: normal;
  color: white;
  background-color: #A90404;
  text-decoration: none;
  margin:50px 0 20px 0;
  position: relative;
  top: 10px;
  background: linear-gradient(#e66465, #9198e5);
}

.btn:hover{
  background-color: #ffff;
  color:black;
  border:solid black 1px;
}

.footer-link{
  background-color: #FFE6E6;
  text-decoration: none;
  padding: 0 30px 0 30px;
}

.copyright {
  padding-top: 10px;
  font-size: 12px;
}
